a.out
entropy_monitor
# emacs edits
*~
\#*\#
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
entropy_monitor.o
install-sh
missing
stamp-h1
